*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: "HK Grotesk Pro";
  font-size: 16px;
  margin: 0; }

.site-container {
  max-width: 1440px;
  margin: auto;
  outline: 1px solid green; }

@font-face {
  font-family: "HK Grotesk Pro";
  src: url("./fonts/HKGroteskPro-Light.otf") format("opentype");
  font-weight: 300; }

@font-face {
  font-family: "HK Grotesk Pro";
  src: url("./fonts/HKGroteskPro-Medium.otf") format("opentype");
  font-weight: 500; }

@font-face {
  font-family: "HK Grotesk Pro";
  src: url("./fonts/HKGroteskPro-SemiBold.otf") format("opentype");
  font-weight: 600; }

h1, h2 {
  font-family: "HK Grotesk Pro";
  font-weight: 300;
  font-size: 3rem;
  line-height: 4.063rem;
  color: #000; }

h3 {
  font-family: "HK Grotesk Pro";
  font-weight: 300;
  font-size: 2.250rem;
  line-height: 2.688rem;
  color: #000; }

a {
  color: #066D9F; }
  a:hover, a:focus {
    color: #F33437; }

.cta-link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #066D9F;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.125em; }
  .cta-link:hover, .cta-link:focus {
    outline: none;
    border-bottom-color: #F33437; }

.list-unstyle {
  margin: 0;
  padding: 0;
  list-style-type: none; }

header {
  padding: 50px;
  display: flex;
  justify-content: space-between; }

.header-nav {
  display: flex;
  align-items: center; }
  .header-nav ul {
    display: flex;
    padding-right: 50px; }

.header-nav-link {
  color: #767676;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600; }
