*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    font-family: "HK Grotesk Pro";
    font-size: 16px;
    margin: 0;
}

.site-container {
    max-width: 1440px;
    margin: auto;
    outline: 1px solid green;
}

section {
    padding: 120px;
}

p {
    max-width: 480px;
    line-height: 1.8;
    font-weight: 300;
}

//content available only to screenreaders
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}