$primary: #066D9F; //blue
$secondary: #F33437; //red
$tertiary: #EEDD23; //yellow
$neutral: #F1F1F1; //gray
$neutral-dark: #767676; //dark gray
$dark: #000; //black

.bg-neutral {
    background-color: $neutral;
}

.bg-tertiary {
    background-color: $tertiary;
}