
  @font-face {
    font-family: "HK Grotesk Pro";
    src: url("./fonts/HKGroteskPro-Light.otf") format("opentype");
    font-weight: 300;
  }
  
  @font-face {
    font-family: "HK Grotesk Pro";
    src: url("./fonts/HKGroteskPro-Medium.otf") format("opentype");
    font-weight: 500;
  }

  @font-face {
    font-family: "HK Grotesk Pro";
    src: url("./fonts/HKGroteskPro-SemiBold.otf") format("opentype");
    font-weight: 600;
  }