
.connections-diagram svg #connecting-lines path {
    opacity: 0;
    animation: fade-in ease-in 1s forwards;
}

@for $i from 1 through 4 {
    .connections-diagram svg #connecting-lines path:nth-child(#{$i}) {
        animation-delay: .5s * $i;
    }
}