.distribution-diagram {
    position: absolute;
    margin-top: -50px;
    margin-left: 50px;
    svg .line-group path {
        opacity: 0;
    }
}

//space added to surrounding sections to give room for the distribution diagram
.distribution-diagram--bottom-space {
    padding-bottom: 300px;
}

.distribution-diagram--top-space {
    padding-top: 500px;
}