.rotator {
    position: relative;
    z-index: 1;
    margin-bottom: 250px;
}
.rotator-button {
    font-size: .875rem;
    color: #6D7278;
    border: none;
    background: none;
    font-weight: 300;
    cursor: pointer;
    margin-bottom: 10px;
    & + p {
        display: none;
    }
    &[aria-expanded=true] {
        font-size: 1.500em;
        padding-bottom: 15px;
        & + p {
            display: block;
        }
    }
}